[run]
source = src/tclf
branch = True
omit =
    */tests/*
    */test_*
    setup.py
    debug_*.py

[report]
exclude_lines =
    pragma: no cover
    def __repr__
    if self.debug:
    raise AssertionError
    raise NotImplementedError
    if 0:
    if __name__ == .__main__.:
    @(abc\.)?abstractmethod
    if self.verbose:
    if typing.TYPE_CHECKING:
show_missing = True
skip_covered = False

[html]
directory = htmlcov

[xml]
output = coverage.xml
